//
// user.scss
// Use this to write your custom SCSS
//



body{
	font-weight:300;
	font-size:16px;
	color:black;
}
.font-eng{
	font-family: 'Rubik', sans-serif;
}
.font-tw{
		font-family: 'Noto Sans TC', sans-serif;
}
.bg-cooby-indigo{
	background-color:#5D04D9 !important;
}
.bg-cooby-green{
	background-color:#06BF9D !important;
}
.bg-cooby-primary{
	background-color:#5005F2 !important;
}

.brand-logo {
	height:30px;
	margin:10px 10px 0 0;
}

.bg-cooby-light-gray{
	background-color:#F6F6F6 !important;
}
.cooby-shadow{
	box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
}
.cooby-shadow-inset{
	box-shadow: inset 0 -10px 50px -10px rgba(22, 28, 45, 0.1);
}
.border-cooby-primary{
	border-color:#5005F2;
}
.border-top-cooby{
	border-top: 3px solid #5005F2 !important;
}
.border-bottom-cooby{
	border-bottom: 1px solid #E6E7E8 !important;
}
ul li{
	font-size:15px;
}
.navbar-nav .nav-link{
	font-weight:400;
}
.btn{
	font-weight:500;
	border-radius:30px;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
	background-color:#5005F2;
}

.btn-primary-soft, .btn-primary-soft:hover, .btn-primary-soft:focus{
    background-color: white;
    border:2px solid #5005F2;
    color: #5005F2;
}
.btn:not([class*="btn-outline"]){
    border-color: #5005F2 !important;
}
.navbar-nav .dropdown > .dropdown-menu{
	left:90%;
}
.navbar-light .navbar-nav .nav-link{
	color:#292728;
}
.navbar-light .navbar-nav .nav-link:hover{
	color:#5005F2;
}
.text-primary, a.text-primary:hover, a.text-primary:focus{
	color:#5005F2 !important;
}
.text-green{
	color:#06BF9D;
}
.text-muted{
	color:#000000 !important;
}
.text-gray{
	color: #869AB8;
}
.badge-success-soft{
	background-color: rgba(66, 186, 150, 0.1);
}
.text-success{
	color:#06BF9D !important;
}
a{
	color:#06BF9D;
}
a:hover{
	color:#06BF9D;
}
h3{
	font-weight:600;
}
.font-weight-bold{
	font-weight: 500 !important;
}
.dropdown-item{
	color:black;
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus{
	color:#5005F2;
}
.hero-responsive{
	background-size: 55% auto;
	background-repeat: no-repeat;
	background-position: bottom;
}

@media (max-width: 991.98px){
	.display-3{
		font-size:30px;
	}
	.navbar-btn{
		width:90%;
	}
	.price-mobile{
		font-size:40px;
		font-weight:400;
	}
	.hero-responsive{
		background-size: 100% auto;
	}
	.w-custom{
	width:100%;
	}
}
@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.w-custom{
	width:60%;
	}
}
