#BZ0_popup_if_mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2147483647;
  display: none;
  font-family: 'Noto Sans TC';
  font-style: normal; }

#BZ0_popup_main_content {
  width: 288px;
  height: 455px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 27px 24px 24px 24px;
  border: 1px solid #F5F5F5;
  box-shadow: 1px 12px 40px rgba(0, 0, 0, 0.25);
  border-radius: 16px; }

#BZ0_popup_main_content .title {
  margin-bottom: 24px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.03em; }

#BZ0_popup_main_content .explain {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #636466; }

#BZ0_popup_main_content .url-green {
  color: #06BF9D; }

.got-it-button {
  width: 240px; }

#BZ0_popup_main_content img {
  margin-bottom: 24px; }

#cooby-insight-btn-and-ps {
  width: 260px; }
  @media screen, (max-width: 320px) {
    #cooby-insight-btn-and-ps {
      width: 100%;
      align-items: center; } }
