<div class="@@classList">
  <div class="col-4 d-flex justify-content-center align-items-center">
    <img class="img-fluid img-responsive" src="/assets/img/brands/Logo_Sequoia.svg">
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <img class="img-fluid img-responsive" src="/assets/img/brands/Logo_Facebook.svg">
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <img class="img-fluid img-responsive" src="/assets/img/brands/Logo_Digit.svg">
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <img class="img-fluid img-responsive" src="/assets/img/brands/Logo_Upmesh.svg">
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <img class="img-fluid img-responsive" src="/assets/img/brands/Logo_ReUBird.svg">
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <img class="img-fluid img-responsive" src="/assets/img/brands/Logo_Mandala.svg"> 
  </div>
</div>