<script src="https://www.googleoptimize.com/optimize.js?id=OPT-WL6BVRR"></script>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="facebook-domain-verification" content="7kq09yr5tns7v7k49aff2vde03ab9j" />

<!-- Open Graph -->
<meta property="og:type" content="website" />

@@if (context.pageTitle) {
  <title>@@pageTitle</title>
  <meta property="og:title" content="@@pageTitle" />
}
@@if (!context.pageTitle) {
  <title>Cooby | Take Control of Your WhatsApp Chats</title>
  <meta property="og:title" content="Cooby | Take Control of Your WhatsApp Chats" />
}

@@if (context.description) {
  <meta name="description" content="@@description" />
  <meta property="og:description" content="@@description" />
}
@@if (!context.description) {
  <meta name="description" content="Declutter your mindspace, reduce noise and organize your chats" />
  <meta property="og:description" content="Declutter your mindspace, reduce noise and organize your chats" />
}

@@if (context.ogImage) {
  <meta property="og:image" content="@@ogImage" />
}
@@if (!context.ogImage) {
  <meta property="og:image" content="https://cooby.co/assets/img/preview-images/meta_tags_extension.png" />
}

<meta property="og:url" content="https://cooby.co" />

@@include("BZ0.html")

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-58041205-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-58041205-5');

  function gaTracking(event_name, category, label, numeric_value) {
    gtag('event', event_name, {
    'event_category': category,
    'event_label': label,
    'value': numeric_value
    });
  }
</script>


<script>(function(w,r){w._rwq=r;w[r]=w[r]||function(){(w[r].q=w[r].q||[]).push(arguments)}})(window,'rewardful');</script>
<script async src='https://r.wdfl.co/rw.js' data-rewardful='90ef38'></script>


<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/Feather/feather.css">
<link rel="stylesheet" href="@@webRoot/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/aos/dist/aos.css">
<link rel="stylesheet" href="@@webRoot/node_modules/choices.js/public/assets/styles/choices.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity-fade/flickity-fade.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity/dist/flickity.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/highlightjs/styles/vs2015.css">
<link rel="stylesheet" href="@@webRoot/node_modules/jarallax/dist/jarallax.css">
<link rel="stylesheet" href="@@webRoot/node_modules/quill/dist/quill.core.css" />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css">
<link rel="stylesheet" href="@@webRoot/assets/css/BZ0.css">
<!-- endbuild -->

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '737261203712366');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=737261203712366&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
