<!-- SIGNUP MODAL
================================================== -->
@@include("signup.html")

<nav class="navbar navbar-expand-lg @@classList cooby-shadow fixed-top font-eng">
  <div class="@@container">

    <!-- Brand -->

    <a class="navbar-brand" href="/">
      <img src="@@webRoot/assets/img/brand.svg" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto" style="margin:auto;">
        <li class="nav-item dropdown d-none">
          <a class="nav-link dropdown-toggle text-muted" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Use Cases
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="@@webRoot/use-cases/insurance.html">Insurance</a>
            <a class="dropdown-item" href="@@webRoot/use-cases/direct-sales.html">Direct Sales</a>
          </div>
        </li>
        <li class="nav-item d-none">
          <a class="nav-link" id="navbarProduct" href="@@webRoot/features.html">
            Features
          </a>
        </li>
        <li class="nav-item">
          <!-- TODO -->
          <a class="nav-link" id="navbarWorkspace" href="@@webRoot/">
            Workspace
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarMobileCRM" href="@@webRoot/mobile-crm.html">
            Mobile CRM
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarPricing" href="@@webRoot/pricing.html">
            Pricing
          </a>
        </li>
        <li class="nav-item">
          <!-- TODO -->
          <a class="nav-link" id="navbarPrivacy" href="@@webRoot/privacy.html">
            Privacy
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarSupport" href="@@webRoot/support.html">
            Support
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarStories" href="@@webRoot/stories.html">
            Stories
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarBlog" href="@@webRoot/blog.html">
            Blog
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
