<!-- SIGNUP MODAL
================================================== -->
@@include("signup.html")

<nav class="navbar navbar-expand-lg @@classList cooby-shadow fixed-top">
  <div class="@@container">

    <!-- Brand -->

    <a class="navbar-brand mr-8" href="/extension">
      <img src="@@webRoot/assets/img/brand.svg" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown d-none">
          <a class="nav-link dropdown-toggle text-muted" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Use Cases
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="@@webRoot/use-cases/insurance.html">Insurance</a>
            <a class="dropdown-item" href="@@webRoot/use-cases/direct-sales.html">Direct Sales</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarTeam" href="@@webRoot/extension/pricing.html">
            Pricing
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarContact" href="@@webRoot/extension/support.html">
            Support
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarContact" href="@@webRoot/extension/privacy.html">
            Privacy
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" style="margin-right: 1rem;">
      </ul>
      <!-- Button -->
      <div class="text-center pb-md-0 pb-8">
        <a class="navbar-btn btn btn-sm btn-primary lift"
           target="_blank"
           href="https://chrome.google.com/webstore/detail/whatsapp-tabs-by-cooby/hcikfoejbgdmajlbhadhfchoekcoablm"
           onclick="gaTracking('install_extension', 'click', 'NavbarTryNowBtn')">
          Add to Chrome
        </a>
      </div>


    </div>

  </div>
</nav>
