<!-- SIGNUP MODAL
================================================== -->
@@include("signup.html")

<nav class="navbar navbar-expand-lg @@classList cooby-shadow fixed-top font-eng">
  <div class="@@container">

    <!-- Brand -->

    <a class="navbar-brand" href="/">
      <img src="@@webRoot/assets/img/brand.svg" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto" style="margin:auto;">

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-muted" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="padding: 22px; left: 115%;">
            <a class="dropdown-item @@extension" href="@@webRoot">Cooby Extension</a>
            <a class="dropdown-item @@workspace" href="@@webRoot/workspace.html">Cooby Workspace</a>
            <a class="dropdown-item @@mobileCRM" href="@@webRoot/mobile-crm.html">Cooby Mobile CRM</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="navbarPricing" href="@@webRoot/pricing.html">
            Pricing
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarPrivacy" href="@@webRoot/privacy.html">
            Privacy
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarSupport" href="@@webRoot/support.html">
            Support
          </a>
        </li>
        
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-muted" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Join Community
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="padding: 22px; left: 78%">
            <a class="dropdown-item @@stories" href="@@webRoot/stories.html">Stories of Impact</a>
            <a class="dropdown-item @@blog" href="@@webRoot/blog.html">Blog</a>
          </div>
        </li>

      </ul>

    </div>

  </div>
</nav>
