<!-- SIGNUP MODAL
================================================== -->
@@include("signup.html")

<nav class="navbar navbar-expand-lg @@classList cooby-shadow fixed-top font-eng">
  <div class="@@container">

    <!-- Brand -->

    <a class="navbar-brand" href="/">
      <img src="@@webRoot/assets/img/brand.svg" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto" style="margin:auto;">
        <li class="nav-item dropdown d-none">
          <a class="nav-link dropdown-toggle text-muted" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Use Cases
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="@@webRoot/use-cases/insurance.html">Insurance</a>
            <a class="dropdown-item" href="@@webRoot/use-cases/direct-sales.html">Direct Sales</a>
          </div>
        </li>
        <li class="nav-item d-none">
          <a class="nav-link" id="navbarProduct" href="@@webRoot/features.html">
            Features
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarService" href="@@webRoot/extension/">
            WhatsApp Tabs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarContact" href="@@webRoot/insights.html">
            Cooby Insights
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarTeam" href="@@webRoot/pricing.html">
            Pricing
          </a>
        </li>
        <li class="nav-item d-none">
          <a class="nav-link" id="navbarTeam" href="@@webRoot/blog.html">
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarContact" href="@@webRoot/support.html">
            Support
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-muted" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Language
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item active" href="@@webRoot">English</a>
            <a class="dropdown-item" href="@@webRoot/zh-tw">繁體中文</a>
          </div>
         </li>
      </ul>
      <ul class="navbar-nav ml-auto d-none" style="margin-right: 1rem;">
        <li class="nav-item">
          <a id="signInSignUp"
             href="https://cooby.app.link/SqNxlEma8db?utm_content=navbar"
             target="_blank"
             onclick="gaTracking('log_in', 'click', 'Navbar')"
             >
            Log In
          </a>
        </li>
      </ul>
      <!-- Button -->
      <div class="text-center pb-md-0 pb-8  d-none">
        <a class="navbar-btn btn btn-sm btn-primary lift"
           data-toggle="modal"
           href="#modalSignupHorizontal"
           onclick="gaTracking('sign_up', 'click', 'Navbar')">
          Try Now
        </a>
      </div>


    </div>

  </div>
</nav>
